
/* On montre le premier texte */
.text-base{
     opacity:1;
     color:red;
  }
  /* On cache le second texte */
  .text-hover{
     display:none;
  }
  /* On fait disparaitre le premier texte au passage de la souris. */
  .infobulle:hover span.text-base{
     display:none;
  }
  /* On fait apparaitre le second texte au passage de la souris. */
  .infobulle:hover span.text-hover{
     display:inherit;
     color: red;
     /* color: seagreen; */
     font-weight: bold;
  }


  .aa {
     text-align: center;
  }