.backgroundPage {
    background-color: linen;
}

.fontTableau {
    text-align: center;
    padding : 10px 5px 10px 5px;
    border:1px solid black;
    width:145px;
    height:18rem;
    vertical-align: top;
    top:5px;
    box-shadow: 8px 8px 5px rgb(119, 119, 119);
    border-radius: 0.8em;
    text-shadow: 0.2px 0.2px 0.2px black;
}

.fontTableauOK {
    background-color: #F3F3F3;
}
.fontTableauKo {
    /* background-color: rgb(255, 220, 220);    */
    background-color: rgba(255, 0, 0, 0.2);   
}

.fontTableauKoNormal {
    background-color: rgba(255, 162, 0, 0.3);
}

/* Couleurs */
.colorRed {
    color:red;
}
.colorGreen {
    color:green;
}
.colorBlue {
    color:#1D1BA5 ;
}
.colorPurple {
    color: purple;
}
.colorPeru {
    color: peru;
}
.colorDarkViolet {
    color: darkviolet;
}

/* .blink {
    color:#F3F3F3;
    animation: colorblink 1000ms infinite;
}
@keyframes colorblink { 
    10% { color:#F3F3F3 }
    10% { color:black; }  
    } */

.borderSpacer {
    margin:auto;
    border-spacing:15px;
}

/* .border {
    margin:auto;
    border: solid 1px #1D1BA5;
} */

.border {
    margin: auto;
    text-align: center;
    padding : 10px 5px 10px 5px;
    border:1px solid black;
    width:150px;
    vertical-align: top;
    top:5px;
    box-shadow: 8px 8px 5px rgb(119, 119, 119);
    border-radius: 0.8em;
    text-shadow: 0.2px 0.2px 0.2px black;
}

.iconTop {
    margin-left:100px;
    border-spacing:25px;
}

.icoDroit {
    width:30%;
    position:relative;
    float:right;
    bottom:0px;
}

.iconValidate {    
    margin-left:115px;
    padding: 5px;

}

.heightTitle {
    width:100%;
    height:85px;
    vertical-align:top;
}

.heightInfo {
    width:100%;
    height:180px;
    vertical-align:top;
}

.heightDelete {
    width:100%;
    height:100%;
    vertical-align:bottom;
}

.heightTable {
    width:100%;
    height:100%;
}

hr {
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background-color: rgb(4, 0, 255);
    border: none; /* on supprime le style par défaut */
}

.TextDescriptiveOneIp {
    font-weight: bold;
    color: rgb(151, 0, 0);
    text-align: end;
}

